name: Scala CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '1.8.0', '11.0.x' ]
        scala: [ '2.12.10' ]
    steps:
    - uses: actions/checkout@v1.2.0
    - name: Set up JDK
      uses: actions/setup-java@v1.2.0
      with:
        java-version: ${{ matrix.java }}
    - name: print Java version
      run: java -version
    - uses: actions/cache@v1.0.3
      with:
        path: ~/.cache/coursier
        key: ${{ runner.os }}-scala-${{ matrix.scala }}-${{ hashFiles('**/*.sbt') }}
        restore-keys: |
          ${{ runner.os }}-scala-${{ matrix.scala }}-
    - name: Run tests
      run:  sbt ++${{ matrix.scala }} checkFormatting testSuite
