name: Publish website

on:
  workflow_dispatch: {}

jobs:
  publish:
    name: Publish website
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 14
      - uses: ruby/setup-ruby@v1.160.0
        with:
          bundler-cache: true
      - name: Install microsite deps
        run: |
          bundle install --jobs 4 --retry 3 --system
      - name: Print versions
        run: |
          java -version
          gpg --version
          ruby --version
          jekyll --version
      - name: Update website
        env:
          MICROSITE_PUBLISH_TOKEN: ${{ secrets.MICROSITE_PUBLISH_TOKEN }}
        run: sbt microsite/makeMicrosite microsite/publishMicrosite
