name: Release Drafter

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  core:
    name: '[core] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-core.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  java-async-http:
    name: '[java-async-http] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-java-async-http.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  java-dropwizard:
    name: '[java-dropwizard] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-java-dropwizard.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  java-spring-mvc:
    name: '[java-spring-mvc] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-java-spring-mvc.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  java-support:
    name: '[java-support] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-java-support.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  scala-akka-http:
    name: '[scala-akka-http] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-scala-akka-http.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  scala-dropwizard:
    name: '[scala-dropwizard] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-scala-dropwizard.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  scala-http4s:
    name: '[scala-http4s] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-scala-http4s.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  scala-support:
    name: '[scala-support] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-scala-support.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  cli:
    name: '[cli] Draft release'
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5.25.0
        with:
          config-name: release-drafter-cli.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
